.menu {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

a {
    padding: 15px 20px;
    background: #1976d2;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}
